<article class="col-md-6 mb-4" data-id='{{post.id}}'>
    <div class="card mb-3 " style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-2">
                <div class='icon m-2' data-emoji="{{post.emoji}}">
                    {{post.emoji}}
                </div>
            </div>
            <div class="col-md-10">
                <div class="card-body">
                    <h5 class="card-title text-capitalize mb-0" data-author="{{post.author}}">{{ post.author}}</h5>
                    <div class="c-details">
                        <span>{{ post.created_on }}</span>
                    </div>
                 
                    <p class="card-text text-capitalize" data-title="{{post.title}}">"{{ post.title }}"</p>
                </div>
                <div class="d-flex flex-row align-items-center">
                    {% if user.is_authenticated %}
                    <form class="d-inline" action="{% url 'home' %}" method="POST">
                      {% csrf_token %}
                      <input type="hidden" name="post_id" value="{{ post.id }}">
                        {% if liked %}
                        <button type="submit" class="badge-button" name="post_id" value="{{post.id}}">
                          <i class="fa-solid fa-heart h4 text-danger m-0"></i>
                        </button>
                        {% else %}
                        <button type="submit" class="badge-button" name="post_id" value="{{post.id}}">
                          <i class="fa-solid fa-heart h4 text-danger m-0"></i>
                        </button>
                        {% endif %}
                    </form>
                    {% else %}
                    <span class="text-secondary"><i class="fa-solid fa-heart h4 text-danger m-0"></i></span>
                    {% endif %}
                    <span class="text-secondary mx-1">{{ post.number_of_likes }}</span>

                    <div class="d-flex flex-row overflow-scroll no-scrollbar mx-2">
                        {% for tag in post.tags.all %}
                        <span class="badge bg-orange text-white m-1 text-capitalize" data-tag="{{tag}}">{{ tag }}</span>
                        {% endfor %} 
                </div>
                {% if user.is_authenticated and post.author == user %}
                <div class="dropdown d-flex">
                    <button class="btn btn-secondary dropdown-toggle ml-auto mr-4" type="button" id="dropdownMenuButton{{ post.id }}" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa-regular fa-pen-to-square"></i>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton{{ post.id }}">
                        <a class="dropdown-item" href="{% url 'update_post' post.pk %}">Edit</a>
                        <a class="dropdown-item" href="{% url 'delete_post' post.pk %}">Delete</a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</article>