{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'random_post.css' %}" type="text/css" />
{% endblock extra_css %}

{% block content %}
<div class="container mt-5 text-center">
    <h1 class="mb-4 mt-3">Happy Hack Generator</h1>
    <div class="random-container">
        <div id="random-post" class="mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ random_post.title }}</h2>
                <p class="card-text">{{ random_post.emoji }}</p>
                <p class="card-text">{{ random_post.author }}</p>
            </div>
        <p class="description">Click here to generate happiness, one post at a time!</p>
    </div>
    </div>


    <div class="text-center d-flex justify-content-around align-items-center">
    <audio class="hidden" id="audio" controls>
        <source src="{% static 'audio/happy.mp3' %}" type="audio/mpeg">
        Your browser does not support the audio element.
      </audio>
      <button id="btn-music" class='icon-btn'>
        <i class="fa-solid fa-music"></i>
    </button>

    <button type="button" onclick="generateRandomPost()" class="btn btn-primary">Generate Random Post</button>

    <a type="button" href={% url "add_post" %} class="icon-btn"><i class="fa-solid fa-plus"></i></a>    

</div>

    
</div>


    {% csrf_token %}
    {% load static %}
    
    {% block extra_js %}
    <script src="{% static 'random_post.js' %}"></script>
    {% endblock extra_js %}
{% endblock %}