.form-control:focus {
  box-shadow: none;
  color: #2a9d8f;
}

.custom-form {
  border-radius: 20px;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
  border-color: #2a9d8f;
}

.form-control::placeholder {
  font-size: 0.95rem;
  color: #aaa;
  font-style: italic;
}

.container.mt-5 {
  background-color: #2a9d8f;
  border-radius: 30px;
  background-color: rgb(42, 157, 143, 0.6);
  padding: 50px 20px;
  margin-bottom: 40px;
}

h2 {
  font-family: "Quicksand", sans-serif;
  color: #ededed;
  padding-bottom: 20px;
  letter-spacing: 0.3rem;
  font-size: 2.9rem;
}

p {
  font-family: "Roboto Slab";
  letter-spacing: 0.1rem;
  padding-bottom: 40px;
  font-size: 1.1rem;
  color: #ededed;
}

label {
  font-family: "Quicksand", sans-serif;
  padding-bottom: 20px;
  letter-spacing: 0.1rem;
}

#emoji {
  font-family: "Roboto Slab", sans-serif;
}

#emojiPickerButton {
  border: none;
  border-radius: 20px;
  background-color: #e9c46a;
  color: #264653;
  outline: none;
  font-family: "Roboto Slab";
  font-weight: bold;
  letter-spacing: 0.1rem;
  font-size: 15px;
  outline: none;
}

#emojiPickerButton:hover {
  background-color: #e76f51;
  color: #ffff;
  outline: none;
}

#emojiPickerButton:focus {
  background-color: #e76f51;
  color: #264653;
  outline: none;
}

.btn.btn-primary.btn-block {
  background-color: #e9c46a;
  border: none;
  border-radius: 20px;
  color: #264653;
  font-family: "Roboto Slab";
  font-weight: bold;
  letter-spacing: 0.1rem;
  outline: none;
}

.btn.btn-primary.btn-block:hover {
  background-color: #e76f51;
  color: #ffff;
  outline: none;
}

.btn.btn-primary.btn-block:focus {
  background-color: #e76f51;
  color: #ffff;
  outline: none;
}

#emoji-picker {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

#overlay {
  background-color: rgba(0, 0, 0, 0.3);
  filter: blur(2px);
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
