@import url("https://fonts.googleapis.com/css2?family=Lilita+One&display=swap");

:root {
  --clr-yellow: #e9c46a;
  --clr-orange: #e76f51;
  --clr-green: #2a9d8f;
  --clr-dark-green: #264563;
  --box-shadow-yellow: #e9c46a 0px 5px 15px;
}

body {
  font-family: "Roboto Slab", sans-serif;
  height: 100%;
  background-image: url("https://res.cloudinary.com/dxajyjfpw/image/upload/v1711281428/pexels-daniel-spase-1028542_mspopy.jpg");
  background-size: cover;
}
.content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.overflow-scroll {
  overflow: scroll;
}

nav {
  background-color: rgb(244, 162, 97, 0.8);
}

/* Styling for the hamburger menu icon */
.lines-button {
  color: #264653;
}

/* Styling for the navigation links */
.navbar-dark .navbar-nav .nav-link {
  color: #264653;
  background-color: transparent;
  border: none;
  margin: 0 10px;
  padding: 10px 15px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

/* Hover effect for navigation links */
.navbar-dark .navbar-nav .nav-link:hover {
  background-color: #2a9d8f;
  color: white;
}

/* Styling for dropdown menu */
.navbar-dark .navbar-nav .nav-item.dropdown.show .nav-link {
  background-color: #2a9d8f;
  color: white;
}

p {
  color: #264653;
}

.navbar-logo {
  width: 120px;
  height: auto;
  border-radius: 50%;
  border: 2px solid #2a9d8f;
}

.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

.stroke {
  font-family: "Lilita One", sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgba(0, 0, 0, 0.9);
  font-weight: bolder;
  font-size: clamp(2rem, 7vw, 3.5rem) !important;
}

footer {
  background-color: rgb(244, 162, 97, 0.8);
  left: 0;
  bottom: 0;
  width: 100%;
  height: 120px;
}

#footer-date,
#footer-message {
  color: #264653;
  overflow: hidden; /* Hide any overflowing content */
  white-space: nowrap; /* Prevent wrapping */
  letter-spacing: 0;
  padding-bottom: 20px;
  font-size: 1.1rem;
}

@media (max-width: 768px) {
  #footer-date,
  #footer-message {
    font-size: 0.9rem; /* Decrease font size for smaller screens */
    text-wrap: wrap;
    padding-bottom: 0;
  }
}
/* CARD STYLES */

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.card {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.icon {
  width: 100px;
  height: 100px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 4rem;
}

.badge-button {
  background: inherit;
  border: none;
  height: fit-content;
  width: fit-content;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge-button:hover,
.badge-button:focus {
  transform: scale(0.9);
  transition: 200ms ease-in-out;
}

.hidden {
  display: none;
}

.bg-orange {
  background: var(--clr-orange);
}

/* ANIMATIONS */

@keyframes slideFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in {
  animation: slideFadeIn 300ms ease-in-out;
}

/* Form style for login/sign in/ sign out */

.account-button button[type="submit"] {
  background-color: #e9c46a;
  border: none;
  border-radius: 20px;
  color: #264653;
  font-family: "Roboto Slab";
  font-weight: bold;
  letter-spacing: 0.1rem;
  outline: none;
  width: 100%;
}

.account-button button[type="submit"]:hover {
  background-color: #e76f51;
  color: #ffff;
  outline: none;
}

.btn.btn-primary.btn-block:focus {
  background-color: #e76f51;
  color: #ffff;
  outline: none;
}

.form-background {
  background-color: #2a9d8f;
  border-radius: 30px;
  background-color: rgb(42, 157, 143, 0.6);
  padding: 50px 20px;
  margin-bottom: 40px;
}

.account-templates h1,
.account-templates label,
.account-templates p {
  color: #ffff;
}

.form-header {
  font-family: "Quicksand", sans-serif;
  color: #ededed;
  padding-bottom: 20px;
  letter-spacing: 0.3rem;
  font-size: 2.9rem;
}

.form-span {
  color: #e9c46a;
}

a { 
  color: #e9c46a;
  text-decoration: underline;
}

a:hover {
  color:#e76f51;
  text-decoration: underline;
}

.form-span:hover {
  color: #e76f51;
}

.account-inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  max-width: 600px;
  padding: 20px;
  color: #ededed;
  font-weight: 700;
}

/* POst Success Animation */

.particles-container {
  position: absolute;
  user-select: none;
  pointer-events: none;
}

.particle {
  position: absolute;
  animation: explode 1s reverse linear;
  transform: translatex(-50%) translatey(-50%);
  font-size: 1em;
}

@keyframes explode {
  100% {
    top: 50%;
    left: 50%;
    transform: scale(5);
  }
}

