{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container text-center">
    
    <h1>Happy Hacks Team</h1>
    <p>This is our amazing team!</p>

    <div class="row">
        {% for member in team_members %}
        <div class="col-md-4">
            <img src="{% static member.photo %}" alt="{{ member.name }}">
            <h2>{{ member.name }}</h2>
            <p>{{ member.happiness }}</p>
        </div>
        {% endfor %}
    </div>
    
    
</div>
{% endblock %}
