{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'about.css' %}" type="text/css" />
{% endblock extra_css %}


{% block content %}
<!-- <style>

/* body {
  height: 100%;
  margin: 0;
  padding: 0;
  /* position: relative; */
/* }
body {

  background-image: linear-gradient(
    to right top,
    #2a9d8f,
    #4ba885,
    #6db27a,
    #91ba6f,
    #b6c068,
    #c8bc60,
    #dab65c,
    #ebb05d,
    #eca056,
    #eb9052,
    #ea8050,
    #e76f51
  );
}

.background-image-container {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
} */ 

/* .about-title {
    background-color: #2A9D8F;
    border-radius: 10px;
    color: white;
}

.about-subtitle {
    font-size: 1.5rem;
}

.round {
    border-radius: 50%;
}

.card-link {
    color: #2A9D8F;
    text-align: left;

}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
}

.card-title {
    background-color:#2A9D8F;
    color: white;
}

.margins {
    margin-bottom: 120px;
    margin-top: 120px;
}

</style> */ -->

<div class="about-container">
    <div class="container text-center margins">
    
        <h1 class="about-title">Happy Hacks ✨Team✨</h1>
        <p class = "about-subtitle">Meet our amazing team: </p>
    
        <div class="row">
            {% for member in team_members %}
            <div class="col-md-6 mb-4">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{% static member.photo %}" class="img-fluid rounded-start round" alt="{{ member.name }}">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ member.name }}</h5>
                                <p class="card-text">{{ member.happiness }}</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{ member.role }}</li>
                            </ul>
                            <div class="card-body">
                                <a href="{{ member.linkedin }}" class="card-link" target="_blank"> <i
                                        class="fa-brands fa-linkedin"></i>
                                    LinkedIn</a>
                                <a href="{{ member.github }}" class="card-link" target="_blank"> <i
                                        class="fa-brands fa-github"></i>
                                    GitHub</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

</div>


{% endblock %}

<!-- {% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">
{% endblock %} -->
