{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="container text-center">
    
    <h1>Happy Hacks Team</h1>
    <p>This is our amazing team!</p>


    
    <div class="row">
        {% for member in team_members %}
        <div class="col-md-6 mb-4">
            <div class="card border-warning mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="{% static member.photo %}" class="img-fluid rounded-start" alt="{{ member.name }}">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ member.name }}</h5>
                            <p class="card-text">{{ member.happiness }}</p>
                        </div>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">{{ member.role }}</li>
                        </ul>
                        <div class="card-body">
                            <a href="{{ member.linkedin }}" class="card-link" target="_blank"> <i
                                    class="fa-brands fa-linkedin"></i>
                                LinkedIn</a>
                            <a href="{{ member.github }}" class="card-link" target="_blank"> <i
                                    class="fa-brands fa-github"></i>
                                GitHub</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
