{% extends 'base.html' %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'form.css' %}" type="text/css" />
{% endblock extra_css %}

{% block content %}

<div class='container mt-2'>
<div class="p-3 bg-light rounded rounded-pill shadow-sm mb-2 border">
  <div class="input-group">
    <input id='searchBar' type="search" placeholder="What're you searching for?" aria-describedby="button-addon1" class="form-control border-0 bg-light">
    <div class="input-group-append">
      <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="fa fa-search"></i></button>
    </div>
  </div>
</div>

<div class='container mt-2 '>
  <div class="px-3 py-2 bg-light rounded-lg shadow-sm mb-4 border text-nowrap overflow-scroll">
    {% for emoji in emojis %}
      <button class="btn emoji-btn btn-light border border" data-type='{{emoji}}'>{{ emoji }}</button>
    {% endfor %}
  </div>
</div>


<div class="container mt-4" >
  <div class="row" id='allposts'>
      {% for post in posts %}
              {% include "includes/postcard.html" with post=post %}
      {% endfor %}
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/fuse.js@7.0.0"></script>
<script  src="{% static 'allposts.js' %}"></script>
{% endblock extra_js %}
