{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Website dedicated to generate happiness" />
    <meta name="keywords" content="happiness, smile, luck, world, joy, laughter" />
    <meta name="author" content="Happy Hacks" />
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon-16x16.png" />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
      integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    {% block extra_css %}
    {% endblock extra_css %}


    <title>{% block title %}Happy Hacks{% endblock %}</title>

  </head>
  <body>
    <div class="content">
      <!-- Header start -->
      <header>
        <!-- Navigation bar -->
        <nav class="navbar navbar-expand-lg navbar-dark">
          <a class="navbar-brand" href="{% url 'home' %}">
            <img src="{% static 'images/logo.png' %}" alt="Logo" class="navbar-logo" />
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="lines-button">☰</span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add_post' %}">Add Post</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              {% if user.is_authenticated %}
              <li class="nav-item dropdown">
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  id="navbarDropdown"
                  role="button"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  {{ user.username }}
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  {% if user.is_superuser %}
                  <a class="dropdown-item" href="{% url 'admin:index' %}">Admin Panel</a>
                  {% endif %}
                </div>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
              </li>
              {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_signup' %}"
                  >Sign Up</a
                >
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
              </li>
              {% endif %}
            </ul>
          </div>
        </nav>
      </header>

      <div class="flex-grow-1">{% block content %}{% endblock %}</div>
    </div>

    <audio class="hidden" id="audio" controls>
      <source src="{% static 'audio/happy.mp3' %}" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio>
    <button id="btn-music">
      <i class="fa-solid fa-music"></i>
    </button>
    <!-- Footer -->
    <footer class="footer text-white py-3">
      <div class="container">
        <div class="text-center">
          <p>This will be a footer, it is located in base.html</p>
        </div>
      </div>
    </footer>
    
    {% block postloadjs %}

    <script src="https://kit.fontawesome.com/27545168c5.js" crossorigin="anonymous"></script>

  <script src="{% static 'script.js' %}"></script>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF"
    crossorigin="anonymous"
  ></script>


    {% endblock %}


  </body>


</html>
