{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'form.css' %}" type="text/css" />
{% endblock extra_css %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4">Share Happiness</h2>
            <p class="text-center">Add your joyous thoughts, inspiring words, or delightful actions here. Let happiness flow through your words, and don't forget to add an emoji to add an extra dash of cheer!</p>
            <form method="post" enctype="multipart/form-data" class="custom-form p-lg-4 p-2 pt-4 rounded-2 shadow-lg bg-white my-3">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_content" class="text-center d-block">Content:</label>
                    <textarea id="content" name="content" class="form-control"></textarea>
                </div>
                
                <div class="form-group d-flex align-items-center">
                    <input type="text" id="emoji" name="emoji" class="form-control mr-2">
                    <button type="button" id="emojiPickerButton" class="btn btn-primary">Choose Emoji</button>
                </div>

                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </form>
        </div>
    </div>
</div>
<div id="emoji-picker"></div>
{% endblock %}

{% block extra_js %}
<script src="https://cdn.jsdelivr.net/npm/emoji-mart@latest/dist/browser.js"></script>
<script  src="{% static 'form.js' %}"  ></script>
{% endblock extra_js %}